body{
    animation: fade-in 2s;
    background: url('/static/images/Group (2).png');
    background-size: cover;
    
}

.title{
    text-align: center;
}

.caption{
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top:20px; 
    padding-bottom: -15px;
}

.logo{
    font-family: 'Monoton' , cursive;
    font-size: 50px;
    letter-spacing: 4px;
}

.logo a{
    color: black;
    text-decoration: none;
}

.logo a:hover{
    color: orange;
    transition: 0.6s;
}

.landing{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.gallery{
    margin: 50px;
    margin-top: 20px;
    height: 85vh;
}

.kotak {
    background: white; padding:7px; border-radius: 3px; margin: 6px; margin-bottom: 20px;
}

.kotak a{
    text-decoration: none;
}

.kotak a:hover{
    color: blue;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}