<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Profile Pow</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'images/p-type_logo_instagram.png' %}" >
</head>

{% block body %}
{% endblock %}

</html>