{% extends 'base.html' %}

{% block body %}
<body style="background: linear-gradient(90deg, rgba(255, 203, 168, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), #FFC5A1; font-family: 'Montserrat', sans-serif;">
    <div class="p-4">
        <div>
            <h1 class="logo2 text-center"><a href="{% url 'homepage:landing' %}">MY &nbsp; SCHEDULE</a></h1>
        </div>
        <div class="container pt-4">
            <form action="{% url 'homepage:buat' %}" method="POST" style="font-size: 25px; font-weight:450;"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info mt-2">Save</button>
            </form>
        </div>
        <div class="container pt-4">
            {% for items in item %}
                <div class="card p-3 m-3">
                    <h1>{{ items }}</h1>
                    <h2>{{ items.kategori }}</h2>
                    <h2>{{ items.tempat }}</h2>
                    <h2>{{ items.tanggal }}</h2>
                    <h2>{{ items.waktu }}</h2>
                    <form method="POST" action="{% url 'homepage:value' items.id%}"> {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                
            {% endfor %}
        </div>
    </div>
</body>


{% endblock body %}