<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Gallery Pow</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/gallery_style.css' %}" >
    <link rel="icon" type="image/ico" href="{% static 'images/p-type_logo_instagram.png' %}" />
</head>
<body id="bodygallery">
    <div class="landing">
        <div class="title">
            <h1 class="logo"><a href="{% url 'homepage:landing' %}">LA POW GALLERIA</a></h1>
        </div>
    </div>
    <div class="gallery">
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Birds1.JPG' %}" target="_blank">
                    <img src="{% static 'images/Birds1.JPG' %}" alt="Lake Bird" style="width:100%">
                    <div class="caption">
                    <p>"By The Lake"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Birds2.JPG' %}" target="_blank">
                    <img src="{% static 'images/Birds2.JPG' %}" alt="scratch" style="width:100%">
                    <div class="caption">
                    <p>"Feather Bites"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Birds3.JPG' %}" target="_blank">
                    <img src="{% static 'images/Birds3.JPG' %}" alt="bridge" style="width:100%">
                    <div class="caption">
                    <p>"Oil Near The Bridge"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Boat1.JPG' %}" target="_blank">
                    <img src="{% static 'images/Boat1.JPG' %}" alt="delia" style="width:100%">
                    <div class="caption">
                    <p>"Delia and Him"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Boat2.JPG' %}" target="_blank">
                    <img src="{% static 'images/Boat2.JPG' %}" alt="queen" style="width:100%">
                    <div class="caption">
                    <p>"The Queen of The Lake"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Boat3.JPG' %}" target="_blank">
                    <img src="{% static 'images/Boat3.JPG' %}" alt="melanie" style="width:100%">
                    <div class="caption">
                    <p>"Melanie"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Car1.JPG' %}" target="_blank">
                    <img src="{% static 'images/Car1.JPG' %}" alt="Headlight" style="width:100%">
                    <div class="caption">
                    <p>"Headlight"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Car2.JPG' %}" target="_blank">
                    <img src="{% static 'images/Car2.JPG' %}" alt="austin7" style="width:100%">
                    <div class="caption">
                    <p>"Austin 7"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/Car3.JPG' %}" target="_blank">
                    <img src="{% static 'images/Car3.JPG' %}" alt="road" style="width:100%">
                    <div class="caption">
                    <p>"By The Road"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/animal1.JPG' %}" target="_blank">
                    <img src="{% static 'images/animal1.JPG' %}" alt="chipmunk" style="width:100%">
                    <div class="caption">
                    <p>"Surprised Chipmunk"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/animal2.JPG' %}" target="_blank">
                    <img src="{% static 'images/animal2.JPG' %}" alt="swan" style="width:100%">
                    <div class="caption">
                    <p>"Great White Swan"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="{% static 'images/animal3.JPG' %}" target="_blank">
                    <img src="{% static 'images/animal3.JPG' %}" alt="sheeps" style="width:100%">
                    <div class="caption">
                    <p>"Mountain Sheep"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</body>